.login__logo{
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: invert(100%);
    
}


.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
   padding: 20px;
   border: 1px solid lightgray;

}
form{
    display: flex;
    flex-direction: column;
}

.login__container>h1{
   font-weight: 500;
   margin-bottom: 20px; 
}

.login__container>form>h5{
    margin-bottom: 5px;
}

.login__container>form>input{
    margin-bottom: 5px;
    height: 30px;
    widows: 98%;
    background-color: white;
}

p{
    margin: 10px;
}

.login__signin{
    background-color: #f0c14b;
border-radius: 2px;
width: 100%;
height:30px;

border: 1px solid;
border-color: #a88734 #9c7e31  #846a29;
color: #111;

}

.login__register{
border-radius: 2px;
width: 100%;
height:30px;

border: 1px solid;
border-color: #a88734 #9c7e31  #846a29;
color: #111;  
}